@media (max-width: 1023px) {
  .video__playlist-item {
    margin-right: calc(100vw - 640px);
  }
}

@media (max-width: 1012px) {
  :root {
    --font1: 40px;
    --font2: 28px;
    --font3: 24px;
    --font4: 20px;
    --font5: 15px;
  }

  .container_header {
    height: 110px;
  }

  .logo {
    margin-top: 5px;
  }

  .logo-title {
    padding-top: 5px;
    margin-top: 0;
    font-size: 25px;
    letter-spacing: 6.7px;
  }

  nav {
    width: 470px;
  }

  .mobile-menu-btn {
    height: 17px;
  }

  .mobile-menu-btn_close {
    height: 25px;
  }

  .nav_menuOpen {
    width: 100vw;
    height: calc(100vh - 110px);
    min-height: 950px;
    z-index: 3;
    background-color: #000;
    background-image: url("./assets/jpg/menu-back.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 58%;
    background-size: calc(100vw - 40px);
  }

  .header__social {
    width: 340px !important;
    margin: 450px auto 0 !important;
    padding: 35px calc((85% - 340px) / 2) !important;
    border-top: 1px solid #fff !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .header__social > li {
    height: 48px;
    width: 48px;
    border: 1px solid #666666;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-filter 0.5s linear;
    transition: -webkit-filter 0.5s linear;
    -o-transition: filter 0.5s linear;
    transition: filter 0.5s linear;
    transition: filter 0.5s linear, -webkit-filter 0.5s linear;
  }

  .header__social > li > a > img {
    width: 48px;
    -o-object-position: -1px -1px;
    object-position: -1px -1px;
  }

  .header__social > li:hover,
  .header__social > li:active,
  .header__social > li:visited {
    -webkit-filter: invert(57%) sepia(15%) saturate(764%) hue-rotate(356deg)
      brightness(92%) contrast(89%);
    filter: invert(57%) sepia(15%) saturate(764%) hue-rotate(356deg)
      brightness(92%) contrast(89%);
  }

  .container_welcome {
    padding-top: 42px;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .welcome__text-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    line-height: 0.7;
  }

  .welcome__title {
    margin-bottom: 7px;
  }

  .welcome__subtitle {
    font-size: var(--font4);
  }

  .welcome__btn {
    display: none;
  }

  .welcome__slider {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 44px;
  }

  .welcome__slider-wrapper {
    height: auto;
    width: calc(100vw - 40px);
  }

  .welcome__slider-wrapper > img {
    width: 100%;
  }

  .welcome__slider-controller {
    right: calc((100% - 400px) / 2);
    bottom: -69px;
    padding: 0;
  }

  .visiting {
    padding-top: 24px;
    padding-bottom: 79px;
  }

  .visiting__container {
    padding: 0 56px;
  }

  .visiting__title {
    padding-bottom: 5px;
  }

  .visiting__card-container {
    width: 30vw;
    margin: auto;
    margin-top: 39px;
  }

  .visiting__card-img {
    width: 100%;
  }

  .visiting__card-title {
    margin-top: 24px;
    padding-bottom: 8px;
    letter-spacing: 2px;
    font-size: 24px;
  }

  .visiting__card-text {
    margin: 11px 0;
    letter-spacing: 0.2px;
    font-size: 17px;
  }

  .visiting__card-caption {
    letter-spacing: 0.2px;
  }

  .visiting__card-container:nth-of-type(3n) > .visiting__card > h3 {
    letter-spacing: 1.8px;
  }

  .explore {
    padding: 53px 0 39px;
  }

  .explore__title {
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .explore__text {
    display: none;
  }

  .explore__slider {
    margin-top: 42px;
    -webkit-transform: scale(1.007);
    -ms-transform: scale(1.007);
    transform: scale(1.007);
  }

  .video {
    padding: 41px 0 80px;
  }

  .video__title {
    margin-bottom: 20px;
  }

  .video__cover {
    height: 324px;
  }

  .video__controls-btn_main > img {
    width: 82px;
    margin-top: 10px;
  }

  .video__controls {
    position: relative;
    height: 54px;
    width: calc(100% - 60px);
    padding: 6px 30px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #000;
  }

  .video__controls-btn_play {
    margin-left: 0;
  }

  .video__controls > input {
    height: 6px;
  }

  .video__length-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .video__controls-btn_volume {
    width: 27px;
    height: 27px;
    margin-left: 1px;
    margin-top: 5px;
  }

  .video__volume-input {
    width: 485px;
    height: 5px !important;
    margin-left: -3px;
  }

  #fullscreen-button {
    margin-right: 0;
  }

  .video__playlist {
    width: 100%;
    margin: 20px 0;
  }

  .video__pagination {
    width: 190px;
  }

  .gallery {
    padding: 40px 0 5px;
  }

  .gallery__title {
    letter-spacing: 5px;
  }

  .container_gallery {
    height: 1075px;
    margin-top: 40px;
  }

  .gallery-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
  }

  .tickets {
    padding: 40px 0 27px;
  }

  .container_tickets {
    margin-bottom: 38px;
  }

  .tickets__title {
    margin-bottom: 40px;
  }

  .container_tickets > img {
    width: 444px;
    height: auto;
  }

  .tickets__amount {
    margin-right: 50px;
  }

  .tickets__form-title {
    font-size: 26px;
    margin-bottom: 71px;
    letter-spacing: 1px;
    margin-left: 3px;
  }

  .tickets__amount-container:first-of-type > .tickets__amount-input-btn {
    padding: 0;
  }

  .tickets__amount-container > label {
    line-height: 2;
  }

  .tickets__amount-container:last-of-type > label {
    line-height: 1.5;
  }

  .tickets__form-title_total {
    margin: 9px 0 34px;
    font-size: 28px;
    letter-spacing: 2px;
  }

  .parallax {
    height: 300px;
  }

  .contacts__title {
    padding-bottom: 5px;
    margin-bottom: 41px;
  }

  .contacts__text-title {
    font-size: var(--font4);
    font-weight: 700;
    margin-bottom: 41px;
  }

  .contacts__text {
    margin-bottom: 16px;
    font-size: 17px;
    letter-spacing: 0.3px;
  }

  .container_contacts > img {
    margin-top: 24px;
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) * 0.65);
    -o-object-fit: none;
    object-fit: none;
    -o-object-position: top right;
    object-position: top right;
  }

  footer {
    padding: 43px 0 22px;
  }

  .container_footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__nav {
    margin-left: 92px;
    margin-top: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 74%;
    height: 125px;
  }

  .footer__nav > li {
    width: inherit;
    height: auto;
    margin-right: 0;
  }

  .footer__nav > li > .nav__link {
    letter-spacing: 1.5px;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 100;
  }

  .footer__social {
    width: 340px;
    margin-top: 42px;
    margin-left: 298px;
  }

  .footer__social > li {
    border-width: 1px;
  }

  .footer__social > li > a > img {
    -o-object-position: -1px -1px;
    object-position: -1px -1px;
  }

  .footer__copyrights {
    width: 728px;
    padding-top: 41px;
    letter-spacing: 1.7px;
  }

  .footer__copyrights > div > p {
    font-size: 24px;
  }

  .footer__copyrights > div > time,
  .footer__copyrights > p {
    font-size: 22px;
  }

  .footer__copyrights > p:first-of-type {
    margin-left: 14px;
  }

  .popup__container_tickets {
    width: calc(70vw + 17px);
    margin-left: calc(10vw + 17px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow: scroll;
  }

  .popup__container-close {
    right: 35px;
    width: 25px;
    height: 25px;
  }

  .popup__form {
    padding: 77px 15px 35px 9px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .popup__fieldset {
    width: 100%;
    margin-bottom: 50px;
  }

  .popup__fieldset-header {
    margin-top: 2px;
    margin-bottom: 43px;
  }

  .popup__fieldset:last-of-type {
    width: 100%;
    margin-bottom: 0;
    padding: 23px 18px 20px 16px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: none;
    border-left: 2px solid #000;
  }

  .popup__fieldset-entry-total {
    padding-top: 12px;
  }

  .popup__fieldset-card {
    width: 73%;
  }

  .popup__fieldset-card:first-of-type {
    width: 73%;
  }

  .popup__fieldset-card-input {
    top: 13%;
    left: 4.75%;
    height: 13%;
    width: 42%;
  }

  .popup__fieldset-card-date {
    top: 40%;
    width: 19%;
    height: 14%;
  }

  .popup__fieldset-card-date_year {
    left: 27.5%;
  }

  .popup__fieldset-card-input_name {
    top: 67%;
    width: 62%;
  }

  .popup__fieldset-card-input_cvv {
    left: 81%;
    top: 55%;
    width: 15%;
  }
}

@media (max-width: 768px) {
  .visiting__card-container {
    width: 280px;
    margin: auto;
    margin-top: 39px;
  }

  .explore__bottom-image {
    width: calc(100vw - 40px);
  }

  .explore__top-image {
    width: calc((100vw - 40px) / 1.7);
  }

  .explore__image-slider {
    left: calc((100vw - 40px) / 1.7 - 18px);
    height: calc((100vw - 40px) / 1.03);
  }

  .video {
    padding-bottom: 30px;
  }

  .video__controls {
    width: calc(100% - 20px);
    padding: 6px 10px 0;
  }

  .video__volume-input {
    width: 50vw;
  }

  .video__playlist-item {
    min-width: calc((100vw - 60px) / 2);
    height: 200px;
    margin-right: 20px;
  }
}