

:root {
  --full-width: calc(100vw - 480px);
  --one-pad-width: calc(100vw - 240px);
  --basic-pad: 240px;
  --bg-dark: #030303;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font-gold: #9d8665;
  --font-red: #710707;
}

header {
  width: var(--full-width);
  height: 200px;
  padding: 0 var(--basic-pad);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark);
}

.header__logo {
  width: 195px;
  background-image: url("./assets/svg/logo.svg");
  background-repeat: no-repeat;
}

.header__logo:hover {
  color: var(--font-gold);
}

.header__title {
  margin: 0;
  margin-left: 70px;
  font-family: "Forum";
  font-style: normal;
  font-weight: normal;
  font-size: var(--font3);
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

nav{
  width: 720px;
  display: flex;
  justify-content: space-between;
}

.nav__link{
  width: max-content;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Roboto';
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 50px;
letter-spacing: 2px;
color: #fff;
}

.nav__link:hover,
.nav__link:active,
.nav__link:visited {
  color: var(--font-gold);
}